* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  position: relative; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2; }

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: .1rem; }

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1; }

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px; }

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.3; }

.feature:not(:last-child) {
  margin-right: 5rem; }

.feature:nth-child(even) {
  align-self: flex-end; }

.feature__number {
  font-family: 'Playfair Display', serif;
  font-size: 8rem;
  font-weight: 600;
  line-height: 1;
  color: rgba(254, 160, 82, 0.26); }

.feature__header {
  margin: 1.5rem 0; }

.feature__text {
  color: #7e7d79;
  transition: all .5s;
  line-height: 2rem; }
  .feature__text:hover {
    color: #000; }

.portfolio {
  margin-bottom: 10rem; }
  .portfolio__navigation {
    display: flex;
    list-style: none;
    margin: 4rem 0; }
  .portfolio__navigation__list {
    color: #807f7f;
    margin-right: 4rem;
    font-size: 1.4rem;
    padding-bottom: .5rem;
    transition: all .5s; }
    .portfolio__navigation__list--active {
      font-weight: 500;
      color: #000;
      border-bottom: 1px solid #000; }
    .portfolio__navigation__list:hover {
      font-weight: 500;
      color: #000; }
  .portfolio__galery {
    display: flex;
    overflow: hidden; }
    .portfolio__galery__photo-box {
      flex: 0 0 25%;
      height: 42rem;
      position: relative;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover; }
      .portfolio__galery__photo-box::after {
        background-color: rgba(17, 37, 55, 0.8);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%; }
    .portfolio__galery .img1 {
      background-image: url(../img/img1.jpg); }
    .portfolio__galery .img2 {
      background-image: url(../img/img2.jpg); }
    .portfolio__galery .img3 {
      background-image: url(../img/img3.jpg); }
    .portfolio__galery .img4 {
      background-image: url(../img/img4.jpg); }
    .portfolio__galery__text {
      position: absolute;
      z-index: 30;
      top: 2rem;
      left: 2rem;
      width: 70%;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 400; }
    .portfolio__galery__vertical-text {
      position: absolute;
      z-index: 30;
      bottom: 2rem;
      left: 2rem;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 100;
      writing-mode: sideways-lr;
      text-orientation: sideways-right; }
  .portfolio__galery__photo-box:hover {
    transform: scaleX(1.1); }
    .portfolio__galery__photo-box:hover::after {
      background-color: transparent; }
    .portfolio__galery__photo-box:hover > * {
      visibility: hidden; }
    .portfolio__galery__photo-box:hover::before {
      content: '+';
      display: block;
      z-index: 10;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      background-color: #f7a15a;
      color: rgba(255, 255, 255, 0.9);
      font-size: 6rem;
      font-weight: 100;
      font-family: Arial, Helvetica, sans-serif;
      transform: translate(-50%, -50%) scaleX(1); }

.btn-main {
  outline: none;
  cursor: pointer;
  border: 1px solid #fff;
  background-color: inherit;
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: .7rem 1.5rem;
  transition: all .5s; }
  .btn-main:hover {
    background-color: #f7a15a; }

.main-photo-box {
  position: relative;
  margin: 10vh auto;
  width: 100%;
  height: 80vh;
  background-image: url("../img/photo-main.jpg");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat; }

.main-menu {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #112537;
  width: 96.5%;
  height: 80vh; }
  .main-menu__list {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: color .5s; }
    .main-menu__list__item {
      display: inline-block;
      padding: 1rem;
      margin-bottom: 1rem;
      color: #88929b; }
      .main-menu__list__item:hover {
        color: #f7a15a; }

.main-screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  padding: 2rem 0;
  box-sizing: border-box;
  background-image: linear-gradient(to right, rgba(17, 37, 55, 0.97) 0%, rgba(17, 37, 55, 0.97) 50%, transparent 50%); }
  .main-screen__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: #fff; }
  .main-screen__top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main-screen__top__menu-box {
      width: 12rem;
      font-size: 3rem;
      cursor: pointer; }
    .main-screen__top__menu {
      height: 4rem;
      width: 5rem;
      fill: #fff; }
    .main-screen__top__phone {
      display: flex;
      align-items: center;
      width: 12rem; }
    .main-screen__top__phone-icon {
      height: 2rem;
      width: 2rem;
      fill: #7e7d79; }
    .main-screen__top__phone-number {
      color: #000; }
  .main-screen__medium {
    width: 23%;
    margin-left: 14rem; }
    .main-screen__medium__header {
      margin-bottom: 2.5rem; }
    .main-screen__medium__text {
      margin-bottom: 2rem; }
  .main-screen__bottom {
    display: flex;
    justify-content: space-between; }
    .main-screen__bottom__social-icon {
      height: 1.2rem;
      width: 1.2rem;
      fill: #fff;
      margin-right: 1.5rem; }
    .main-screen__bottom__blocks {
      display: flex; }
    .main-screen__bottom__block {
      height: .3rem;
      width: 2rem;
      background-color: #cdd3cf;
      margin-right: .7rem; }
      .main-screen__bottom__block--active {
        background-color: #1a444a; }

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.features {
  display: flex;
  padding: 10rem 0;
  height: 55rem; }
