$color-main: #112537;
$color-secondary: #f7a15a;
$color-tertiary: #fde5d1;

$color-background: #fdfaf3;

$color-grey-text: #7e7d79;
$color-grey-text-light: #bac0c5;

$color-white: #fff;
$color-black: #000;


$font-size-small: 1.2rem;
$font-size-base: 1.4rem;
$font-size-medium: 1.6rem;
$font-size-big: 1.8rem;

$font-family-header: 'Playfair Display', serif;
$font-family-text: 'Raleway', Arial, sans-serif;