.btn-main {
    outline: none;
    border: 1px solid #fff;
    background-color: inherit;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: .7rem 1.5rem;
    transition: all .5s; 

    &:hover {
        background-color: rgb(247, 161, 90)
    }
}