.portfolio {
    margin-bottom: 10rem;
    @include respond(tab-port) { margin-bottom: 7rem;}

    &__navigation {
        display: flex;
        list-style: none;
        margin: 5rem 0 4rem 0;
        @include respond(phone) { margin: 3rem 0 2rem 0;}

    }

    &__navigation-item {
        color: #807f7f;
        margin-right: 4rem;
        font-size: $font-size-base;
        padding-bottom: .5rem;
        transition: all .5s;
        @include respond(phone) { margin-right: 2rem;}


        &--active {
            font-weight: 500;
            color: $color-black;
            border-bottom: 1px solid $color-black;
        }

        &:hover {
            font-weight: 500;
            color: $color-black;
        }
    }

    &__galery {
        overflow: hidden;
    }

    &__photo-box {
        flex: 0 0 25%;
        height: 42rem;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include respond(tab-port) {
            margin: 0 2rem;
        }

        &--bg1 { background-image: url(../img/img1.jpg);}
        &--bg2 { background-image: url(../img/img2.jpg);}
        &--bg3 { background-image: url(../img/img3.jpg);}
        &--bg4 { background-image: url(../img/img4.jpg);}
    }

    &__photo-box::after {
        background-color: rgba($color-main, .8);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
    }
    
    & .slick-current.portfolio__photo-box::after {background-color: transparent;}

    &__text {
        position: absolute;
        z-index: 30;
        bottom: 85%;
        left: 2rem;
        width: 70%;
        color: $color-white;
        font-size: $font-size-base;
        font-weight: 400;

        @include respond(tab-port) {
           bottom: 0rem;
        }

        &--vertical {
            bottom: 2rem;
            font-size: $font-size-small;
            font-weight: 100;
            writing-mode: sideways-lr;
            text-orientation: sideways-right;
            @include respond(tab-port) { display: none;}
        }
    }

    &__icon {
        z-index: 30;
        display: block;
        position: absolute;
        top: 50%;
        height: 3rem;
        width: 3rem;
        fill: rgba($color-white, .8);
        transform: translateY(-50%);

        &--left {
            left: 2rem;
        }

        &--right {
            right: 2rem;
        }
    }

    // HOVER PHOTO////////////////
    ////////////////////////////////

    &__photo-box:hover {

        transform: scaleX(1.1);

        &::after {
            background-color: transparent;
        }

        & > * {
            visibility: hidden;
        }

        &::before {
            content: '+';
            display: block;
            z-index: 10;
            @include center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 6rem;
            width: 6rem;
            border-radius: 50%;
            background-color: rgba($color-secondary, .8);
            color: rgba($color-white, .9);
            font-size: 6rem;
            font-weight: 100;
            font-family: Arial, Helvetica, sans-serif;
            transform: translate(-50%, -50%) scaleX(1);
        }
    }
}

