.header {
    //height: 75rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-photo-box {
    margin: 10vh auto;
    width: 100%;
    height: 80vh;
    background-color: aqua;
    background-image: url('../img/photo-main.jpg');
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.main-photo {
    //width: 100%;
    height: 80vh;
}

.main-screen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    padding: 2rem 0;
    box-sizing: border-box;
    background-image: linear-gradient(
        to right,
        rgba(17, 37, 55, .97) 0%,
        rgba(17, 37, 55, .97) 50%,
        transparent 50% );

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        color: #fff;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__menu-box {
            width: 12rem;
        }

        &__menu {
            height: 4rem;
            width: 5rem;
            fill: #fff;
        }

        &__phone {
            display: flex;
            align-items: center;
            width: 12rem;
        }

        &__phone-icon {
            height: 2rem;
            width: 2rem;
            fill: #7e7d79;
        }

        &__phone-number {
            color: #000;
        }
    }

    &__medium {
        width: 23%;
        margin-left: 14rem;

        &__header {
            margin-bottom: 2.5rem;
        }

        &__text {
            margin-bottom: 2rem;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;

        &__social {

            &-icon {
                height: 1.2rem;
                width: 1.2rem;
                fill: #fff;
                margin-right: 1.5rem;
            }
        }

        &__blocks {
            display: flex;
        }

        &__block {
            height: .3rem;
            width: 2rem;
            background-color: #cdd3cf;
            margin-right: .7rem;

            &--active {
                background-color: #1a444a;
            }
        }
    }
}


.features {
    display: flex;
    padding: 10rem 0;
    height: 55rem;
}

.feature {
    &:not(:last-child) {margin-right: 5rem;}
    &:nth-child(even) {
        align-self: flex-end;
    }

    &__number {
        font-family: 'Playfair Display', serif;
        font-size: 8rem;
        font-weight: 600;
        line-height: 1;
        color: rgba(254, 160, 82, .26);
    }

    &__header {
        margin: 1.5rem 0;
    }

    &__text {
        color: #7e7d79;
        transition: all .5s;
        line-height: 2rem;

        &:hover {
            color: #000;
        }
    }
}



.portfolio {
    padding: 0 7rem;
    &__navigation {
        display: flex;
        list-style: none;
        margin: 4rem 0;
    }

    &__navigation__list {
        color: #807f7f;
        margin-right: 4rem;
        font-size: 1.4rem;
        padding-bottom: .5rem;
        transition: all .5s;

        &:hover,
        &--active {
            font-weight: 500;
            color: #000;
            border-bottom: 1px solid #000;
        }
    }

    &__galery {
        display: flex;

        &__photo-box {
            flex: 0 0 25%;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}